@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=DM+Sans&display=swap');

html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}
ul{
    list-style: none;
}
button{
    border-radius: 2px;
}

.hero{
    background: url('./Whitney.jpg');
    background: linear-gradient(rgba(19, 18, 18, 0.3), rgba(27, 27, 27, 0.3)), url('./Whitney.jpg');  /* Chrome 10-25, Safari 5.1-6 */
    background-position: center;
    background-size: cover;
    height: 430px;
    overflow: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    color: #ffffff;
}
nav.active{
    background-color: #ffffff;
    position: fixed;
}
/* 
.fixed{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    top: 0;
    z-index: 50;
    color: black;
    transition: 0.5s;
} */



.navbar-wrapper.scrolled{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 55;
    color: black ;
}
.navbar-wrapper.scrolled .cart,.cart-icon, #hamburger{
    color: black;
}

#nav-links{
    display: none;
}
#nav-links li{
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.trigger-dropdown{
    position: relative;
}

.trigger-dropdown ul{
    position: absolute;
    background-color: #ffffff;
    display: none;
    color: black;
    padding: 1rem;
    width: 18rem;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}
.trigger-dropdown ul li{
    cursor: pointer;
}
.trigger-dropdown:hover ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-icon{
    display: none;
}
.logo img {
    width: 100px;
}
.hamburger-container {
    font-size: 16px;
    width: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.hamburger-container .bi-list{
    font-size: 30px;
}
.hero-content{
    width: 85%;
    margin: auto;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 30px;
}
.intro{
    font-family: 'Bonheur Royale', cursive;
    font-size: 30px;
    margin-bottom: 0;
}
.cta-button {
    background-color: #455744;
    color: #ffffff;
    border-radius: 2px;
    padding: 0.5rem 3rem;
}

#sidebar{
    height: 100vh;  
    width: 0;
    background-color: azure;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    transition: 0.3s;
}
#sidebar.active{
    width: 275px;
    padding: 0 2rem;
   
 
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-header img {
    width: 90px;
}
.sidebar-header .bi-x{
    font-size: 26px;
}
.sidebar-contentbox-wrapper {
    font-size: 22px;
    font-weight: 400;
    position: relative;
    top: 2rem;
}
.sidebar-content {
    font-size: 16px;

}
.sub-list{
    background-color: lightgray;
    font-size: large;
}
.sidebar-contentbox{
    position: relative;
    margin-bottom: 1rem;
}
.sidebar-contentbox .sidebar-label{
    position: relative;
    color: black;
    cursor: pointer;
    overflow: hidden;
}
.sidebar-contentbox .sidebar-label::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 1.5rem;
}
.sidebar-contentbox.active .sidebar-label::before{
    content: "-";
}

.sidebar-contentbox .sidebar-content{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.sidebar-contentbox.active .sidebar-content{
    height: auto;
    padding-left: 1rem;
    transition: 0.5s;

}

main{
    width: 85%;
    margin: 4rem auto;
    text-align: center;
    font-weight: 400;
}
.main-section p:nth-child(1){
    font-size: 12px;
}
.main-section p:nth-child(2){
    font-size: 22px;
}
.main-section p:nth-child(3){
    font-size: 14px;
}

.workbooks{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 4rem;
}
.workbooks img{
    width: 190px;
}
.workbook{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 330px;
}
.workbook span:nth-child(1){
    font-size: 14px;
}
.workbook span:nth-child(2){
    font-size: 17px;
}


.coaching-section{
    background: url('./Whitney.jpg');
    background-position: center;
    background-size: cover;
    height: 340px;
    display: grid;
}
.coaching-section.women{
    background: url('./women.jpg');
}
.coaching-section-wrapper{
    width: 100%;
}
.coaching-section .content{
    background-color: #ffffff;
    width: 85%;
    margin: auto;
    padding: 1rem;
}
.cta-button.learn-more{
    border-radius: 2px;
    padding: 10px 1rem;
}
.expectations-wrapper{
    width: 85%;
    margin: 5rem auto;
    text-align: center;
}
.expectations-wrapper p{
    font-size: 22px;
    margin-bottom: 4rem;
}
.expectations-content{
    display: flex;
    justify-content: space-evenly;
    overflow: scroll;
    width: 50rem;
}
.expectations{
    overflow: scroll;
}
.expectation{
    display: flex;
    flex-direction: column;
}
.expectation .bi{
    font-size: 50px;
}
.expectation span{
    font-size: 22px;
}
.expectations-content.brands{
    display: flex;
    align-items: center;
}

.expectation.brand img{
    width: 10rem;
}
.paralax{
    background: linear-gradient(rgba(19, 18, 18, 0.3), rgba(27, 27, 27, 0.3)), url('./Whitney2.jpg');  /* Chrome 10-25, Safari 5.1-6 */
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.hero-content.client-reviews{
    color: black;
}
.intro.clients{
    margin-bottom: 1rem;
    font-size: 30px;
}
.below-intro.client{
    font-size: 20px;
}

.newsletter-wrapper{
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.newsletter-wrapper p{
    margin-bottom: 0;
}
.newsletter-wrapper p:nth-child(1){
    font-size: 24px;
}
.newsletter-wrapper form{
    margin: 1rem;
}

.newsletter-wrapper input{
    border-radius: inherit;
    border-color: black;
    outline: black;
}
.newsletter-wrapper input[type="email"]
{
    width: 75%;
    display: inline-block;
}
.newsletter-wrapper button
{
    font-size: larger;
    position: relative;
    display: inline-block;
    left: -7px;
    bottom: -2px;
    width: 22%;
    height: 40px;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}
.newsletter-wrapper .bi-arrow-right{
    font-size: larger;
}
footer{
    font-size: 16px;
    height: 460px;
    background-color: black;
    color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.logo-footer{
    background-color: #ffffff;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}
.logo-footer img{
    width: 120px;
}
.footer-dropdown{
    position: relative;
}
.footer-dropdown::after, .footer-dropdown::before{
    content: "";
    position: absolute;
    top: 40%;
    right: 0;
    margin:  0 0 -8px;
    background-color: #ffffff;
}
.footer-dropdown::before{
    right: 8px;
    width: 2px;
    height: 15px;
    transition:all 300ms;
    margin-top: -7.5px;
    background: #ffffff;
}
.footer-dropdown::after{
    right: 1px;
    width: 16px;
    height: 3px;
    margin-top: -1.5px;
    background: #ffffff;
}
.footer-dropdown.expanded::before{
    height: 0;
    margin-top: 0;
}
.footer-dropdown-content{
    transition: 0.5s;
    height: 0;
    overflow: hidden;
}
.footer-dropdown-content.dropdown-active{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgba(225, 225, 225, 0.8);
}

.newsletter-wrapper.footer-newsletter{
    margin: 0;
    width: 100%;
}
.newsletter-wrapper.footer-newsletter p{
    text-align: left;
    font-size: 16px;
}
.newsletter-wrapper form.footer{
    margin: 0;
}
.copyright{
    font-size: 12px;
}







@media only screen and (min-width:417px){
    .hero{
        height: 500px;
    }
}


@media only screen and (min-width: 600px){
    .hero{
        height: 900px;
    }

}
@media only screen and (min-width: 768px){
    body{
        font-size: 18px;
    }
    .hero-content {
        top: 203px;
    }
    .hero-content.client-reviews{
        top: 0;
    }
    .hero{
        font-size: 40px;
    }
    .cart{
        font-size: 22px;
    }
    .logo img {
        width: 120px;
    }
    .workbooks{
        flex-direction: row;
        height: 390px;
    }
    .coaching-section-wrapper{
        width: 85%;
        margin: auto;
        position: relative;
    }
    .coaching-section{
        width: 70%;
    }
    .coaching-section .content{
        position: absolute;
        left: 13rem;
        top: 5rem;
        width: 24rem;
    }
    .paralax .hero-content{
        top: 87px;
    }
    .newsletter-wrapper form{
        width: 52%;
        margin: 1rem auto;
    }
    .newsletter-wrapper.footer-newsletter{
        width: auto;
    }
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
    }
    /* .newsletter-wrapper form.footer {
        width: 13rem;
    } */
    .newsletter-wrapper.footer-newsletter .footer{
        width: 10rem;
    }
    .newsletter-wrapper.footer-newsletter .form-group {
        width: auto;
    }
    .footer-dropdown::after, .footer-dropdown::before{
        display: none;
    }
    .footer-dropdown-content{
        height: 150px;
        color: rgba(225, 225, 225, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    footer{
        justify-content: space-evenly;
    }
    .copyright-wrapper{
        text-align: center;
    }
    .socials{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width:1024px){
    .hero{
        height: 1200px;
    }
    .hero-content {
        top: 300px;
        width: 65%;
    }
    .main{
        margin: 9rem auto;
    }
    .workbooks{
        height: 470px;
    }
    .workbook{
        height: 440px;
    }
    .workbook img{
        width: 255px;
    }
    .coaching-section-wrapper{
        margin: 8rem auto;
    }
    .coaching-section {
        height: 510px;
    }
    .coaching-section .content{
        left: 29rem;
        top: 6rem;
    }
    .hamburger-container{
        width: auto;
    }
    #nav-links{
        display: flex;
        justify-content: space-evenly;
        width: 33rem;
        font-size: 14px;
    }
    #hamburger{
        display: none;
    }
    .cart-icon{
        display: flex;
    }
    .cart{
        display: none;
    }
    
    .navbar-wrapper.scrolled #nav-links{
        color: black;
    }
}